@import "tailwindcss";

body{
    background-color: #202020;
    padding-top: 20px;
<<<<<<< HEAD
    color: white;
=======
    padding-left: 34px;
    padding-right: 32px;
>>>>>>> 48eecdabcf79843298764926524f413d610a410b
}